@import url("https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap");

.bg-light {
  background: #00000000 !important;
  transition: all 0.5s;
}
.bg-light.scrolled {
  background: #ffffff !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.589);
  transition: all 0.5s;
}
.nav a {
  color: white;
}
.nav a:hover {
  color: rgb(192, 191, 191);
}
.nav.scrolled a {
  color: rgb(155, 49, 255);
}
.nav.scrolled a:hover {
  color: rgb(208, 157, 255);
}
.buttonToggle {
  display: none;
}
.initial {
  font-family: "Vampiro One", cursive;
  font-size: 30px;
  margin: -10px;
}
.all-body-cover {
  margin-top: 200px;
}
.opening {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.nama {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.img-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waves {
  margin-top: -100px;
  margin-bottom: 70px;
}
.firstContainer {
  background: linear-gradient(
    #ffffff 0%,
    #ffffff 50%,
    #ffffffde 70%,
    #ffffffb6 75%,
    #ffffff7e 80%,
    #ffffff49 85%,
    #ffffff1f 90%,
    #ffffff00 100%
  );
  margin-top: -80px;
  margin-bottom: 50px;
}

.content {
  padding-bottom: 400px;
}
.nameHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.subNameHeading {
  display: none;
}
.content .row {
  padding-bottom: 40px;
}

